body {
    font-family: Arial, Helvetica, sans-serif;
}

main{
    display: grid;
    height: 100vh;
    grid-template-columns: 47% 47%;
    column-gap: 6%;
    row-gap: 6%;

}

.card{
    padding: 5%;
    display: grid;
    border: solid 1px #ddd;
    grid-template-columns: 66% 33%;
    grid-column: span 1;
}

.card div{
    grid-column: 1 span 1;
}

.card img{
    grid-column: 2 span 1;
    width: 100%;
    height: 100%S;
    object-fit: cover;
}