/* Make sure that your @import statement is at the top of your CSS file  */
@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&family=Tiny5&display=swap');
html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1 {
    font-family: "Tiny5", sans-serif;
}

h2 {
    font-family: "Doto", sans-serif;
}
